@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior:smooth;
}

* {
    font-family:'Roboto' , sans-serify;
}

h1,h2,h3,  .poppins {
    font-family:'Poppins', sans-serif;
}